{% load static %}
<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG E Ticaret | {% block title %}{% endblock title %}</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" sizes="180x180" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/site.webmanifest' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
</head>

<body>

    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text">
                                <p>Dünya çapında hizmet vermekteyiz!</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'user_logout' %}"><i class="fa fa-unlock"></i> Çıkış Yap</a></li>
                                    {% else %}
                                        <li><a href="{% url 'user_login' %}"><i class="fa fa-lock"></i> Giriş yap/Kayıt</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="/search/" method="GET">
                                    <input type="text" placeholder="Ürün Adı" name="query" id="query" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{ request.session.cart|length }}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Ürün Adı" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{ request.session.cart|length }}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>
                                <li class="dropdown">
                                    <a href="{% url 'index' %}">
                                        Anasayfa
                                    </a>
                                </li>
                                <li class="dropdown position-static"><a href="#">Kategoriler <i
                                    class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        {% for category in categories %}
                                            <li>
                                                <a href="{% url 'product' %}">{{ category.name }}</a>
                                            </li>
                                        
                                        
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="#">
                            <input type="text" placeholder="Search" />
                            <button><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div>
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
        <!-- OffCanvas Wishlist Start -->
        <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
            <div class="inner">
                <div class="head">
                    <span class="title">İstek listem</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons">
                        <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">İstek listemi görüntüle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Wishlist End -->
       
        {% load cart_tag %}
        <!-- OffCanvas Cart Start -->
        <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
            <div class="inner">
                <div class="head">
                    <span class="title">Sepetim</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        {% if request.session.cart|length < 1 %}
                            <!-- Empty Cart area start -->
                            <div class="empty-cart-area pb-100px pt-100px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cart-heading">
                                                <h2>Alışveriş Sepetim</h2>
                                            </div>
                                            <div class="empty-text-contant text-center">
                                                <i class="pe-7s-shopbag"></i>
                                                <h3>Sepetiniz boş</h3>
                                                <a class="empty-cart-btn" href="{% url 'index' %}">
                                                    <i class="fa fa-arrow-left"> </i> Alışverişe Devam Et
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Empty Cart area end -->
                        {% else %}

                            {% for key,value in request.session.cart.items %}
                                <li>
                                    <a href="{% url 'cart_detail' %}" class="image"><img src="{{value.image}}" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="{% url 'cart_detail' %}" class="title">{{value.name|truncatewords:5}}</a>
                                        <span class="quantity-price">{{value.quantity}} x <span class="amount">{{ value.price }} TL</span></span>
                                        <a href="{% url 'item_clear' key %}" class="remove">×</a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons mt-30px">
                        <a href="{% url 'cart_detail' %}" class="btn btn-dark btn-hover-primary mb-30px">Sepeti Görüntüle</a>
                        <a href="{% url 'cart_checkout' %}" class="btn btn-outline-dark current-btn">Sipariş Ver</a>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- OffCanvas Cart End -->
        
        <!-- OffCanvas Menu Start Düzenlenecek -->
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    <li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user_logout' %}"><i class="fa fa-unlock"></i> Çıkış Yap</a></li>
                    {% else %}
                        <li><a href="{% url 'user_login' %}"><i class="fa fa-lock"></i> Giriş yap/Kayıt</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">
                                Anasayfa
                            </a>
                        </li>
                        <li><a href="#"><span class="menu-text">Ürünler</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><span class="menu-text">Shop Page</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                        <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                        </li>
                                        <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                        </li>
                                        <li><a href="cart.html">Cart Page</a></li>
                                        <li><a href="checkout.html">Checkout Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">İletişim</a></li>
                    </ul>
                </div>
                <!-- OffCanvas Menu End -->




            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <!-- Modal -->
        {% for product in products  %}
        <div class="modal modal-2 fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="pe-7s-close"></i></button>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                                <!-- Swiper -->
                                <div class="swiper-container gallery-top">
                                    <div class="swiper-wrapper">

                                        {% for img in product.images_set.all  %}
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto" src="{{ img.image.url }}" alt="">
                                            </div>
                                        {% endfor %}

                                        
                                    </div>
                                </div>
                                <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                                    <div class="swiper-wrapper">
                                        {% for img in product.images_set.all  %}
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto" src="{{img.image.url}}" alt="">
                                            </div>
                                        {% endfor %}
                                        
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-buttons">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                                <div class="product-details-content quickview-content">
                                    <h2>{{product.name|truncatewords:5 }}</h2>
                                    <div class="pricing-meta">
                                        <ul class="d-flex">
                                            <li class="new-price">{{product.price}} TL</li>
                                        </ul>
                                    </div>
                                    <div class="pro-details-rating-wrap">
                                        <div class="rating-product">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="mt-30px">{{ product.description|truncatewords:10|safe }}</p>
                                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                        <span>Kategori: </span>
                                        <ul class="d-flex">
                                            <li>
                                                <a href="#">{{product.categories}} </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                        <span>Tags: </span>
                                        <ul class="d-flex">
                                            {% for tag in product.tag_set.all %}
                                                <li>
                                                    <a href="#"> {{tag.name}} </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="pro-details-quality">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                        </div>
                                        <div class="pro-details-cart">
                                            <button class="add-cart"> Sepete Ekle</button>
                                        </div>
                                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                            <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                    <div class="payment-img">
                                        <a href="#"><img src="assets/images/icons/payment.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <!-- Modal end -->

        <!-- Modal Cart -->
        {% for i in products %}
            <div class="modal customize-class fade" id="exampleModal-Cart-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                            <div class="tt-modal-messages">
                                <i class="pe-7s-check"></i> Ürün sepete başarıyla eklendi
                            </div>
                            <div class="tt-modal-product">
                                <div class="tt-img">
                                    <img src="{{i.image.url}}" alt="Modern Smart Phone">
                                </div>
                                <h2 class="tt-title"><a href="#">{{ i.name|truncatewords:5 }}</a></h2>
                                <br>
                                <a href="{% url 'cart_add' i.id %}"> Sepete Ekle </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        {% endfor %}
        {% comment %} <!-- Modal wishlist -->
        <div class="modal customize-class fade" id="exampleModal-Wishlist" tabindex="-1"   aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                        <div class="tt-modal-messages">
                            <i class="pe-7s-check"></i> Added to Wishlist successfully!
                        </div>
                        <div class="tt-modal-product">
                            <div class="tt-img">
                                <img src="assets/images/product-image/1.webp" alt="Modern Smart Phone">
                            </div>
                            <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>     {% endcomment %}
        <!-- Modal compare -->
        {% comment %} <div class="modal customize-class fade" id="exampleModal-Compare" tabindex="-1"   aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                        <div class="tt-modal-messages">
                            <i class="pe-7s-check"></i> Added to compare successfully!
                        </div>
                        <div class="tt-modal-product">
                            <div class="tt-img">
                                <img src="assets/images/product-image/1.webp" alt="Modern Smart Phone">
                            </div>
                            <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}



        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="{% static 'assets/images/logo/footer-logo.png' %}" alt=""></a>
                                    </div>
                                    <p class="about-text">Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ incididunt ut labore
                                    </p>
                                    <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Servisler</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="#">Profilimi görüntüle</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'contact' %}">İletişim</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'cart_detail' %}">Sepetim</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'product' %}">Ürünler</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Hesabım</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="#">Profilimi Görüntüle</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'contact' %}">İletişim</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'cart_detail' %}">Sepetim</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'product' %}">Ürünler</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">İletişim Bilgileri</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        <p class="address">Adres: Çukurova / Adana</p>
                                        <p class="phone">Telefon<a href="tel:0123456789"> 0123456789</a></p>
                                        <p class="mail">Email:<a href="mailto:batuhang002@gmail.com"> batuhang002@gmail.com</a></p>
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-end">
                                    <div class="payment-mth"><a href="#"><img class="img img-fluid" src="{% static 'assets/images/icons/payment.png' %}" alt="payment-image"></a></div>
                                </div>
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2021 <strong>Hmart</strong> Made With <i class="fa fa-heart"
                                        aria-hidden="true"></i> By <a class="company-name" href="https://themeforest.net/user/codecarnival/portfolio">
                                            <strong> Codecarnival </strong></a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>

    
    
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>


</html>